template(name="home")
  .group
    button.btn.btn-primary.btn-lg.borderless
      span Loading
    button.btn.btn-primary.btn-lg.borderless.bounce
      span Loading


  //- .group
  //-   h1 Create a button
  //-   input.input(placeholder="ex) btn btn-primary")
  //-   button.create Create

  //-   h1.r Result
  //-     span
  //-   button.target-btn Result
  //- .group
  //-   h4 .btn
  //-   button button
  //-   button.btn button
  //-   a.btn(href="") a.btn

  //- .group
  //-   h4 .btn-primary
  //-   button.btn-primary button
  //-   button.btn.btn-primary button
  //-   a.btn.btn-primary(href="") a.btn

  //- .group
  //-   h4 .btn.btn-xs
  //-   button.btn-xs button
  //-   button.btn.btn-xs button
  //-   a.btn.btn-xs(href="") a.btn

  //- .group
  //-   h4 .btn.btn-sm
  //-   button.btn-sm button
  //-   button.btn.btn-sm button
  //-   a.btn.btn-sm(href="") a.btn


  //- .group
  //-   h4 .btn.btn-md
  //-   button.btn-md button
  //-   button.btn.btn-md button
  //-   a.btn.btn-md(href="") a.btn

  //- .group
  //-   h4 .btn.btn-lg
  //-   button.btn-lg button
  //-   button.btn.btn-lg button
  //-   a.btn.btn-lg(href="") a.btn

  //- .group
  //-   h4 .btn.btn-xl
  //-   button.btn-xl button
  //-   button.btn.btn-xl button
  //-   a.btn.btn-xl(href="") a.btn
